<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.rn.simple.locationtracker"
  xmlns:tools="http://schemas.android.com/tools">
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <application tools:node="merge">
    <service android:name="com.rn.simple.locationtracker.TrackingService"
      android:exported="false"
      android:foregroundServiceType="location"/>
    <service android:name="com.rn.simple.locationtracker.LocationUpdateBroadcastReceiver"/>
  </application>
</manifest>
